<div class="menus">
  <div class="menus-center">
    <div class="menus-title">メニュー</div>
    <div class="menu">
    <img src="/assets/food_menu.JPG" alt="フードメニュー画像" class="menu-image">
    <img src="/assets/drink_menu.JPG" alt="ドリンクメニュー画像" class="menu-image">
    </div>
    <%= link_to 'トップページに戻る',root_path,class:'back_button'%>
  </div>
</div>