<div class="reserve">
  <div class="reserve-center">
    <div class="reserve-title">予約確認</div>

    <div class="reserve-confirmation">現在、予約はありません。</div>
    <div class="reserve-caution">※予約にはユーザー新規登録・ログインが必要です。</div>
    <div class="new-reserve-button">
      <%= link_to '新規予約する',new_reserf_path,class:'back_button'%>
    </div>
    <div class="button">
      <%= link_to 'トップページに戻る',root_path,class:'back_button'%>
    </div>
  </div>
</div>