
    <div class="contents">
      <div class="first-view">
        <%= image_tag 'small-cafe-top.jpg', alt:"トップ画像", class:"top-image" %>
        <!-- 『トップ画像』を表示する -->
      </div>
      <div class="upper-content">
        <!-- 『新着情報』を表示する -->
        <h2 class="heading-name">新着情報</h2>
        <div class="index-announces">
          <% @announces.each do |announce| %>
            <ul class="messages">
              <li class="message">
                <div class="message-date"><%= announce.date %></div>
                <div><%= link_to announce.title,announce_path(announce),class:'message-title' %></div>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
      <div class="middle-content">
      </div>
      <div class="bottom-content">
      </div>
    </div>