<div class="shop">
  <div class="shop-center">
    <div class="shop-title">店舗紹介</div>
  </div>
</div>
<div class="show-shop" >
  <div class="show-main">
    <img src="/assets/small-cafe-date.JPG" alt="看板画像" class="date-image">
    <div class="show-contents">
      <div class="show-title">店舗基本情報</div>
    </div>
    <div>
      <div class="show-content">住所：
        <div class="address">神奈川県横浜市港南区芹が谷5-35-32</div>
      </div>
      <div class="show-content">営業時間：
        <div class="show-date">(木)〜(日)　11:00~17:00(店主都合により急遽お休みとなることがございます。)</div>
      </div>
      <div class="show-content">駐車場：
        <div class="show-date">無</div>
      </div>
      <div class="show-content">地図：</div>
      <div class="show-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13006.56798817094!2d139.54801350781247!3d35.414123399999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185b19edb0634f%3A0xe92bbaed4644f8cd!2z5bCP44GV44Gq5Zar6Iy25bqX!5e0!3m2!1sja!2sjp!4v1660109534397!5m2!1sja!2sjp" class="map" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="button">
      <%= link_to 'トップページに戻る',root_path,class:'back_button'%>
    </div>
  </div>
</div> 