<div class="menus">
  <div class="menus-center">
    <div class="menus-title">メニュー</div>
    <div class="menu">
    <%= image_tag 'food_menu.JPG', alt:"フードメニュー画像", class:"menu-image" %>
    <%= image_tag 'drink_menu.JPG', alt:"ドリンクメニュー画像", class:"menu-image" %>
    </div>
    <%= link_to 'トップページに戻る',root_path,class:'back_button'%>
  </div>
</div>