<div class="reserve">
  <div class="reserve-center">
    <div class="reserve-title">管理　店休日確認</div>

    <div class="store_holiday_announce">下記日程で設定している店休日を取り消しますか？</div>
    <div class="show_store_holiday">
        ・<%= @store_holiday.store_holiday.strftime("%-m月%d日(#{@days[@store_holiday.store_holiday.wday]})") %>
    </div>

    <div class="button">
      <%= link_to '店休日を取り消す',admin_store_holiday_path(@store_holiday),method: :delete,class:'back_button'%>
    </div>
    <div class="button">
      <%= link_to '店休日一覧に戻る',admin_store_holidays_path,class:'back_button'%>
    </div>
  </div>
</div>
