// Place all the styles related to the admin/announces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// お知らせ一覧ページ
.announces{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.announces-center{
  width: 70%;
  height: 100%;
  text-align: center;
}

.announces-title{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid black;
}

.announce-new{
  display: flex;
  justify-content:space-around;
}

.announce-new-button{
  width: 100px;
  padding: 5px;
  border: 1px solid black;
  font-size: 16px
}

.announce-store-holiday-button{
  border: 1px solid black;
  padding: 5px;
  font-size: 16px
}

.admin-announces-index{
  width: 100%;
  height: 500px;
  margin-top: 30px;
  overflow: scroll;
}

.announce{
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-bottom: 20px;
}

.date-title{
  margin-bottom: 30px;
}

.announce-date{
  font-size: 20px;
  margin:0 130px 0 20px;
}

.announce-title{
  font-size: 20px;
}

.announce-content{
  font-size: 18px;
  white-space: pre-wrap;
}

.sign{
  font-size: 18px;
  text-align: right;
  padding-right: 50px;
}




// お知らせ新規投稿ページ

.new-announces-title{
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 5px;
  margin:10px 0 60px 0;
  border-bottom: 1px solid black;
}

.error-alert{
  margin-bottom: 20px;
}

.lavel{
  font-size: 15px;
  font-weight: bold;
  vertical-align: top;
}

.new-announce-date{
  margin-bottom: 30px;
}

.new-announce-title{
  width: 400px;
  margin-bottom: 30px;
}

.new-announce-content{
  width: 500px;
  height: 300px;
  margin-bottom: 30px;
}

.new-announce-submit{
  width: 100px;
  height: 30px;
}